In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [3]:
ecdc_icu_dataset = pd.read_csv('ECDC_ICU_admission_dataset.csv')

In [5]:
ecdc_icu_dataset.columns

Index(['country', 'indicator', 'date', 'year_week', 'value', 'source', 'url'], dtype='object')

In [9]:
gdsi_dataset = pd.read_csv('GDSI_OpenDataset_Final.csv')

In [12]:
owid_dataset = pd.read_csv('owid_covid_19_data.csv')

In [10]:
gdsi_dataset.columns

Index(['secret_name', 'report_source', 'age_in_cat', 'bmi_in_cat2',
       'covid19_admission_hospital', 'covid19_confirmed_case',
       'covid19_diagnosis', 'covid19_has_symptoms', 'covid19_icu_stay',
       'covid19_outcome_recovered', 'covid19_self_isolation',
       'covid19_sympt_chills', 'covid19_sympt_dry_cough',
       'covid19_sympt_fatigue', 'covid19_sympt_fever',
       'covid19_sympt_loss_smell_taste', 'covid19_sympt_nasal_congestion',
       'covid19_sympt_pain', 'covid19_sympt_pneumonia',
       'covid19_sympt_shortness_breath', 'covid19_sympt_sore_throat',
       'covid19_ventilation', 'current_dmt', 'dmt_glucocorticoid',
       'edss_in_cat2', 'has_comorbidities', 'pregnancy', 'sex', 'year_onset',
       'ms_type2', 'current_or_former_smoker', 'dmt_type_overall',
       'covid19_outcome_levels_2', 'duration_treatment_cat2',
       'com_cardiovascular_disease', 'has_comorbidities.1',
       'has_comorbidities.2', 'com_chronic_kidney_disease',
       'com_chronic_liver_disease', 'com_diabetes', 'com_hypertension',
       'com_immunodeficiency', 'com_lung_disease', 'com_malignancy',
       'com_neurological_neuromuscular', 'stop_or_end_date_combined',
       'comorbidities_other'],
      dtype='object')

In [18]:
gdsi_dataset.shape

(1141, 47)

In [13]:
owid_dataset.head()

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN

In [11]:
gdsi_dataset.head()

,secret_name,report_source,age_in_cat,bmi_in_cat2,covid19_admission_hospital,covid19_confirmed_case,covid19_diagnosis,covid19_has_symptoms,covid19_icu_stay,covid19_outcome_recovered,...,com_chronic_kidney_disease,com_chronic_liver_disease,com_diabetes,com_hypertension,com_immunodeficiency,com_lung_disease,com_malignancy,com_neurological_neuromuscular,stop_or_end_date_combined,comorbidities_other
0,C_1005,clinicians,1,NaN,no,yes,confirmed,NaN,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C_1008,clinicians,1,NaN,no,yes,confirmed,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN
2,C_1037,clinicians,1,NaN,no,yes,confirmed,yes,no,not_applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C_1039,clinicians,1,NaN,no,no,suspected,yes,no,not_applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C_1061,clinicians,1,NaN,yes,no,suspected,yes,no,yes,...,no,no,no,yes,no,no,no,no,24/04/2020,NaN

In [8]:
ecdc_icu_dataset.head()
ecdc_icu_dataset.column

NameError: name 'ecdc_icu_dataset' is not defined

In [16]:
owid_dataset.shape

(506841, 61)

In [3]:
data = pd.read_csv('data/schema_1_ontario_final.csv')
data.head()

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n

In [4]:
data2 = pd.read_csv('data/schema_2_ontario_final.csv')
data2.head()

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44

In [5]:
data3 = pd.read_csv('data/schema_3_ontario_final.csv')
data3.head()

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data3.shape

(15534, 26)

In [4]:
data4 = pd.read_csv('../data/Covid Data.csv')
data4.head(20)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,9999-99-99,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,9999-99-99,2,2,37,2,1,...,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,...,2,2,2,2,2,2,2,2,3,2
10,2,1,1,1,9999-99-99,97,2,38,2,2,...,2,2,2,2,2,2,2,2,3,97
11,2,1,2,2,9999-99-99,2,2,24,97,2,...,2,2,2,2,2,2,2,2,3,2
12,2,1,2,2,9999-99-99,2,2,30,97,2,...,2,2,2,2,2,2,2,2,3,2
13,2,1,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,3,97
14,2,1,1,1,9999-99-99,97,2,48,2,1,...,2,2,2,2,2,2,2,2,3,97
15,2,1,1,1,9999-99-99,97,2,23,2,2,...,2,2,2,2,2,2,2,2,3,97
16,2,1,1,2,9999-99-99,2,1,80,2,2,...,2,2,1,2,2,2,2,2,3,1
17,2,1,2,1,9999-99-99,97,2,61,97,2,...,2,2,2,2,2,2,2,2,3,97
18,2,1,2,1,9999-99-99,97,2,54,97,2,...,2,2,2,2,2,2,2,2,3,97
19,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97